<section class="px-2">
  <ui-my-movies-title title="Tendências de hoje" />
  <ng-container *ngIf="isMobile">
    <div class="flex flex-row overflow-x-auto overflow-y-hidden no-scrollbar">
      <div 
        class="mr-4 flex-shrink-0" 
        *ngFor="let movie of trendingMovies"
        (click)="toMovieDetails(movie.media_type, movie.id)"
        >
        <img
          class="h-40 w-28 rounded object-cover object-center"
          [src]="'https://image.tmdb.org/t/p/w500/' + (movie?.poster_path)"
          alt="content"
        />
      </div>
    </div>
  </ng-container>
  <p-carousel 
    [value]="trendingMovies ?? []" 
    [numScroll]="1" 
    [responsiveOptions]="responsiveOptions" 
    [showIndicators]="false"
    [showNavigators]="true"
    *ngIf="!isMobile"
    >
    <ng-template pTemplate="item" let-movie>
      <img class="h-40 w-28 rounded object-cover object-center " 
          [src]="'https://image.tmdb.org/t/p/w500/' + (movie?.poster_path)" 
          alt="content">
      <p class="w-28 h-10 italic text-yellow-50 text-ellipsis">{{ movie?.title || movie.name }}</p>
    </ng-template>
  </p-carousel>
</section>
