<section class="text-gray-400 body-font">
  <div class="container px-5 mx-auto">
    <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-[#E1C964]">
        Os mais populares
      </h1>
    </div>
    <div class="flex gap-3 overflow-x-auto overflow-y-hidden">
      @for (movie of trendingMovies; track movie.id) {
        <div class="flex flex-wrap">
          <div class="h-40 w-28 xl:w-52 md:w-w-52   rounded-lg">
            <img class="h-40 w-28 rounded object-cover object-center mb-6" [src]="'https://image.tmdb.org/t/p/w500/' + (movie?.poster_path)" alt="content">
          </div>
        </div>
      }
    </div>
  </div>
</section>
