<section class="mb-16">
  <p-galleria 
    [value]="images" 
    [showThumbnails]="false" 
    [showIndicators]="false" 
    [circular]="true"
    [autoPlay]="true" 
    [transitionInterval]="8000" 
    containerClass="main-galleria"
    >
    <ng-template 
      pTemplate="item" 
      let-item
      >
        <div class="relative">
          <!-- Imagem -->
          <img 
            [src]="item.source" 
            [alt]="item.alt" 
            class="gallery-image  w-full rounded-lg object-cover"
          />
          <div class="absolute  bottom-[-40px] left-0 right-0 text-center ">
            <button  
            (click)="toMovieDetails(item.mediaType, item.id)"
            class=" text-xl p-4 rounded bg-black  text-white font-medium border border-solid border-[#E1C964]"
            >
              <div class="flex items-center gap-2">
                <ng-icon name="phosphorFilmSlateBold" size="32" color="#E1C964"></ng-icon>

                <span>Ver Mais</span>
              </div>
            </button>
          </div>
        </div>
    </ng-template>
  </p-galleria>
  </section>