<header class="p-2 flex justify-between fixed z-10 w-lvw bg-black bg-opacity-60">
    <div 
      class=" flex items-center gap-1"
      (click)="toHome()"
      >
      <ng-icon name="phosphorPopcorn" size="32" color="#E1C964"></ng-icon>
      <h1 class="text-[#E1C964]  text-xl">
        My Movies
      </h1>
    </div>
    <div class="flex gap-4">
      <ng-icon 
        name="phosphorMagnifyingGlass" 
        size="32" 
        color="#E1C964"
        (click)="toSearch()"
        >
      </ng-icon>
      <ng-icon 
        name="phosphorVideo" 
        size="32" 
        color="#E1C964"
        (click)="toUserPage()"
        >
      </ng-icon>
    </div>
</header>
