/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

@tailwind components;
@tailwind utilities;

@layer reset {
  * {
    margin: 0;
    padding: 0;
    border: 0;   
  }
  button {
    &:focus {
      box-shadow: none;
    }
  }
}
@layer utilities {
  /* Adiciona a classe `no-scrollbar` como utilitária */
  .no-scrollbar::-webkit-scrollbar {
    display: none; 
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
} 